body {
    background-image:url(Desktop_-_4.png);
    background-size: contain;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*01============================COMEÇO NAV========================================*/

.header{
    background-color: white;
    color: #6B39C3;
    box-shadow: 3px 4px 3px 3px rgb(141, 141, 141);
}

.containerHeader{
    width: 80%;
    margin:0 auto ;
    
}
.header .containerHeader{
    display: flex;
    justify-content:space-between;
}
.banner .containerHeader.login ,.containerHeader.cadastro{
    justify-content: center;
}

.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

/*01-2=============================BOTOES NAV=======================================*/

.navbar a{
    text-decoration: none;
    margin-top: 2%;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}

.navbar a:hover{
    background-color: #4c1aa1;
    padding: 10px 20px;
    color: white;
}
.agora{
    
    color: white !important;
    background-color: #2d086e;
}
a.btn_cad{
    text-decoration: none;
    margin-top: 2%;
    border: none;
    background-color: #6B39C3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/*01=============================TELA CADASTRO======================================*/

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

.card h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #b57eba;
}

.filha {
    display: flex;
    justify-content: center;
}

.filha a {
    margin: 20px 0;
}

form input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;
    font-size: 20px;
    width: 200px;
    height: 25px;
    margin: 8px;
    color: gray;
    box-shadow: 0 0 0;
    outline: 0;
}

form button {
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0px;
    width: 120px;
    font-size: 18px;
    border: 5px solid #b57eba;
    background-color: white;
    color: black;
}

.filha button:hover{
    background-color: #b57eba;
    padding: 10px 0;
    color: white;
}