body{
    background-image:url(Desktop_-_4.png);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 40%;
    height: 100%;
    background-color: rgb(242, 172, 249);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #000000;
    -webkit-box-shadow: 5px 5px 10px #a1a1a1;
    -moz-box-shadow: 5px 5px 10px #ffffff;    
}

.card{
padding: 30px 45px 40px 50px;
}

form input {
    margin-top: 1px;
    margin-bottom: 6px;
    outline: 3px solid #78bcf0;
    border: 0;
    padding: 8px;
    border-radius: 10px;
}

form button{
    margin-top: 10px;
    margin-left: 130px;
    background-color: #c135f4;
    color: white;
    padding: 10px 15px;
    width: 120px;
    align-self: center;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

form label{
    align-items: center;
    margin-left: 60px;
}

