body{
    background-color: #bba3e4;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 30%;
    height: 50%;
    background-color: rgb(151, 232, 246);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.interação{
    padding: 40px 45px 40px 50px;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
    }