body{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}
.header{
    background-color: #6B39C3;
    color: white;
   
}
.container{
    width: 80%;
    margin:0 auto ;
    
}
.header .container{
    display: flex;
    justify-content:space-between;
}
.banner .container.login ,.container.cadastro{
    justify-content: center;
}
.agora{
    font-weight: bolder;
    background-color: #9f2ac9;
}
.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    margin-top: 2%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}

.navbar a:hover{
    background-color: #c135f4;
    padding: 10px 20px;
    color: white;
}