@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F2F2F2;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

/*01-2=============================SCROLLBAR=======================================*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6B39C3;
    border-radius: 10px;
}

/*01-2=============================BOTOES NAV=======================================*/

.colocar-lado {
    display: flex;
}

.navbar {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.navbar a {
    text-decoration: none;
    margin-top: 2%;
    border: none;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 6px;
    border: 2px solid;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #4C1AA1;
    padding: 10px 10px;
    color: #FFFFFF;
}

a.agora {
    color: #FFFFFF !important;
    background-color: #2D086E;
}

a.btn_cad {
    text-decoration: none;
    margin-top: 2%;
    border: none;
    background-color: #6B39C3;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* dashboard */

.corpo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

#id_lum{
    justify-content: space-around;
}

.corpo.funcional{
    margin-top: 40px;
}

.corpo .dashboard.funcional{
    width: 60%;
}

.dashboard {
    background-color: #C5C5C5;
    width: 90%;
    height: 70%;
    border: #000000 solid 2px;
    border-radius: 10px;
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 200px;
    border: #000000 solid 2px;
    border-radius: 10px;
    background-color: #9982C2;
    text-align: center;
    justify-content: start;
}

.card h1{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.card p{
    margin: 0;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 200;
}

.box1, .box2, .box3, .box4, .box5{
    color: #FFFFFF;
}

.box1 {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #0014ad;
    border: 1px solid #000000;
    border-radius: 14px;
}

.box2 {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #1898E2;
    border: 1px solid #000000;
    border-radius: 14px;
}

.box3 {
    width: 210px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #07BD04;
    border: 1px solid #000000;
    border-radius: 14px;
}

.box4 {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #FD7A00;
    border: 1px solid #000000;
    border-radius: 14px;
}

.box5 {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #F80000;
    border: 1px solid #000000;
    border-radius: 14px;
}

.boxes {
    display: flex;
    justify-content: center;

}

.welcome {
    float: left;
    width: 23%;
    padding: 20px;
    background-color: #9982C2;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000000;
}

.welcome ul li{
    margin-right: 70px;
}

.welcome .navbar {
    flex-direction: column;
    display: inline-block;
}

.dashboard{
    width: 55%;
}

.alertaLa{
    background-color: #FD7A00;
}
a.alertaLa{
    background-color: #FD7A00;
}
.alertaVer{
    background-color: #07BD04;
}
a.alertaAzulEsc{
    background-color: #0014ad;
}
.alertaAzulEsc{
    background-color: #0014ad;
}
