@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins";
}

/*01-2=============================SCROLLBAR=======================================*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6B39C3;
    border-radius: 10px;
}

/*01-2=============================DIV NAV=========================================*/

.header{
    background-color: white;
    color: #6B39C3;
    box-shadow: 3px 4px 3px 3px rgb(141, 141, 141);
}

.container{
    width: 80%;
    margin:0 auto ;
    
}

.header .container{
    display: flex;
    justify-content:space-between;
}

.banner .container.login ,.container.cadastro{
    justify-content: center;
}

.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

/*01-2=============================BOTOES NAV=======================================*/

.navbar a{
    text-decoration: none;
    margin-top: 2%;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.navbar a:hover{
    background-color: #4c1aa1;
    padding: 10px 20px;
    color: white;
}

.agora{
    
    color: white !important;
    background-color: #2d086e;
}

a.btn_cad{
    text-decoration: none;
    margin-top: 2%;
    border: none;
    background-color: #6B39C3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.banner{
    background-image: url(IMGS/fundo\ 2.jpg);
    background-size: cover;
    margin: 0%;
}

.banner .container{
    height: 550px;
    color: white;
    display: flex;
    flex-direction: column;
}

.banner .container h1{
    padding-top: 60px;
    font-size: 50px;
}

.banner .container p{
    padding-top: 20px;
    padding-left: 60px;
    font-size: 30px;
}

.banner .container button{
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    margin: 30px;
    border: 8px solid #b57eba;
    align-self: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.banner .container button:hover{
    background-color: #b57eba;
    color: white;
}

.corpo{
    background-color: #FBFBFB;
}

.corpo .container{
    height: 550px;
    width: 70%;
    box-shadow: 1px 1px 10px gray;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.corpo .container .card{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.corpo .container .card img{
    width: 80%;
}

.corpo .container .card h2{
    margin: 5px;
}

.corpo .container .card p{
    margin: 5px;
    text-align: center;
    font-size: 14px;
}

.corpo .container .card button{
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    margin: 10px;
    border: 8px solid #b57eba;
    align-self: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.corpo .container .card button:hover{
    background-color: #b57eba;
    color: white;
}